<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css">
    <title>weather Info.</title>
    <style>
        body{
            background-image: url("images/R.jpg");
            background-size: cover;
        }
        .tempInformation {
            width: 35rem;
            margin: auto;
            height: 25rem;
            min-height: 20rem;
            background-color: #323544;
            border-radius: 1rem;
            /* padding: 1rem; */
            font-family: "Roboto", sans-serif;

        }

        .topLayer {
            width: 100%;
            height: 20%;
            background-color: #0097e6;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 1rem;
        }

        .topLayer p {
            color: #fff;
            font-weight: 300;
            padding: 2rem;
            font-size: 1.4rem;
        }

        .mainLayer {
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
            padding: 2rem;
        }

        .mainLayer #city_name {
            padding: 2rem 0;
            color: #bfc1c8;
            font-weight: 300;
            font-size: 1.7rem;
        }

        .mainLayer .middleLayer {
            display: flex;
            justify-content: space-around;
            color: #fff;
        }

        .mainLayer,
        .mainLayer p,
        .mainLayer,
        .mainLayer .fa {
            font-size: 5rem;
            font-weight: 900;
        }

        .fa {
            color: #0097e6;
        }

        sup {
            font-size: 1.7rem;
            margin-top: -2rem;
        }

        .data_hide {
            visibility: hidden;
            transition: all 0.3s linear;
        }

        /* temp input field */

        .temp_form {
            width: 46%;
            position: relative;
            margin: 2rem auto 6rem;
        }

        .temp_form input[type="text"] {
            width: 100%;
            height: 20px;

            padding: 2rem 5rem 2rem 2rem;
            background-color: #1e202b;
            color: #fff;
            outline: none;
            border: none;
            font-size: 1.2rem;
            border-radius: 3rem;
        }

        ::placeholder {
            color: #bfc1c8;
        }

        .temp_form input[type="submit"] {
            position: absolute;
            top: 2px;
            right: 5px;
            bottom: 5px;
            border: none;
            background-color: #0097e6;
            padding: 0 3rem;
            border-radius: 3rem;
            color: #fff;
            font-size: 1.2rem;
        }

        .temp_form input[type="submit"]:hover {
            color: #0097e6;
            background-color: #fff;
        }
        sup{
            top: -1.5em;
        }
    </style>
</head>

<body>
   
    {{>logout}}
   

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" id="submitBtn" value="search">
                    </form>
                </div>
                <div class="tempInformation">
                    <div class="topLayer">
                        <p id="day">Tuesday</p>
                        <p id="todayDate">02 Mar</p>
                    </div>
                    <div class="mainLayer">
                        <p id="city_name">Get output here</p>
                        <div class="middleLayer data_hide">
                            <p id="temp"><span id="temp_realValue">0</span><sup>o</sup>C</p>
                            <p id="tempStatus"><i class="fa fa-cloud" aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const day = document.getElementById("day")
        const todayDate = document.getElementById("todayDate")
        const getCurrentDate = () => {
            var weekday = new Array(7);
            weekday[0] = "Sunday";
            weekday[1] = "Monday";
            weekday[2] = "Tuesday";
            weekday[3] = "Wednesday";
            weekday[4] = "Thrusday";
            weekday[5] = "Friday";
            weekday[6] = "Saturday";

            let currentTime = new Date()
            // console.log(currentTime.getDay())
            // console.log(weekday[currentTime.getDay()])


            day.innerText = weekday[currentTime.getDay()]
        }

        const getCurrentTime = () => {
            var months = ["Jan", "Feb", "Mar", "Apr", "May", "jun", "Jul", "Aug", "Sep", "Oct", "Num", "Dec"]

            var now = new Date();
            var month = months[now.getMonth()]
            var date = now.getDate();

            let hours = now.getHours()
            let mins = now.getMinutes()

            let periods = "AM"

            if (hours > 11) {
                periods = "PM";
                if (hours > 12) hours -= 12;
            }
            if (mins < 10) {
                mins = "0" + mins
            }

            todayDate.innerText = `${month} ${date} | ${hours}:${mins} ${periods} `;

        }
        getCurrentDate()
        getCurrentTime()
        const submitBtn = document.getElementById("submitBtn")
        const cityName = document.getElementById("cityName")
        const city_name = document.getElementById("city_name")
        const temp_realValue = document.getElementById("temp_realValue")
        const tempStatus = document.getElementById("tempStatus")
        const hideData = document.querySelector(".middleLayer")

        const getInfo = async (evet) => {
            evet.preventDefault();
            cityValue = cityName.value
            if (cityValue === "") {
                city_name.innerHTML = "Plz write name before search";
                hideData.classList.add("data_hide")
            } else {
                try {
                    let url = `http://api.openweathermap.org/data/2.5/weather?q=${cityValue}&units=metric&appid=227327ed766088223a5eeae4fececa4d`
                    const response = await fetch(url)
                    const data = await response.json()
                    const arrData = [data]
                    city_name.innerText = `${arrData[0].name} | ${arrData[0].sys.country}`;
                    temp_realValue.innerText = arrData[0].main.temp
                    const tempMood = arrData[0].weather[0].main
                    // console.log(data)

                    // temp condition
                    if (tempMood == "Sunny") {
                        tempStatus.innerHTML = "<i class='fas  fa-sun' style='color:#e08012;'></i>";
                    } else if (tempMood == "Clouds") {
                        tempStatus.innerHTML = "<i class='fas  fa-cloud' style='color:#0097e6;'></i>";
                    } else if (tempMood == "Rainy") {
                        tempStatus.innerHTML = "<i class='fas  fa-cloud-rain' style='color:#5a544d;'></i>";
                    } else {
                        tempStatus.innerHTML = "<i class='fas  fa-sun' style='color:#e08012;'></i>";
                    }
                    hideData.classList.remove("data_hide")
                } catch (error) {
                    city_name.innerHTML = "Plz write  city  name  properly";
                    hideData.classList.add("data_hide")
                }

            }
        }

        submitBtn.addEventListener("click", getInfo)
    </script>



    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js"></script>
</body>

</html>