/* .login{
    margin-left: 450px;
    margin-top:150px;
    
} */

/* .container_login{
    border: 2px solid black;
    margin: 150px;
    align-content: center;
    padding-left: 450px;

} */

/* .register{
    margin-left:500px;
    margin-top:30px
} */

.bg-light{
    background-color: blue;
}