<style>
  nav img {
    height: 50px;
    width: 150px;
   
  }
  #admin{
    margin-left: 500px;
  }
</style>

<nav class="navbar navbar-expand-lg" style="background-color: #46494c; color:white">
    <img src="images/logo7.png" alt="">
  {{!-- <a class="navbar-brand" href="/admin" style="color: white;" id="admin">ADMIN DEPARTMENT</a> --}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" style="color: white;">
      <li class="nav-item active">
        <a class="nav-link" href="/logout" style="color: white;">Logout</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/admin" style="color: white;">Deshboard</a>
      </li>

    </ul>

  </div>
</nav>