<style>
    h4 {
        font-size: 3rem;
        font-weight: bold;
    }
</style>

<div class="container-fluid mt-5 about-style" id="servicesid">
    <center>
        <h4>Admin Department</h4>
    </center>
    <div class="row">
        <div class="col-md-3">
            <a href="/active-dashboard" style="color:black">
                <div class="box">
                    <div class="our-services settings">
                        <div class="icon">
                            <img src="images/users.png" alt="img does not avalible">
                        </div>
                        <h4>Active</h4>
                        <p>An active user is someone who regularly engages with a our platform</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/inactive-dashboard" style="color:black">
                <div class="box">
                    <div class="our-services settings">
                        <div class="icon">
                            <img src="images/user.png" alt="img does not avalible">
                        </div>
                        <h4>Inactive</h4>
                        <p>An inactive user is someone who does not engage with a our platform.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/register-dashboard" style="color:black">
                <div class="box">
                    <div class="our-services settings">
                        <div class="icon">
                            <img src="images/compose.png" alt="img does not avalible">
                        </div>
                        <h4>Register</h4>
                        <p>An register user is someone who engages with a our platform.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/database" style="color:black">
                <div class="box">
                    <div class="our-services settings">
                        <div class="icon">
                            <img src="images/server.png" alt="img does not avalible">
                        </div>
                        <h4>Database</h4>
                        <p>A database is an organized collection of data that is stored and accessed electronically.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>